body {
  font-family: "微軟正黑體";
}

.body-content {
  @media screen and (max-width:480px) {
    padding-top: 50px; //sticky menu
  }
}

.red {color: red;}
.gray {color: #9a9a9a;}
.dark {color: #000;}

.text_overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-wrap: break-word;
  word-break: break-all;
}

h1 {
  padding-top: 15px;
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 20px;
}

h2 {
  padding-top: 15px;
  padding-bottom: 20px;
@media screen and (max-width: 480px) {
    text-align: center;
    img {
      display: block;
      margin: 10px auto;
    }
  }
  img {
    vertical-align: bottom;
  }
  .post-sub-title {
    font-size: 13px;
    color: #000;
  }
}

h3 {
  font-size: 16px;
}

.line-height-2 {
  line-height: 2;
}

.green_btn {background: #6fb83f;color: #fff;}
.orange_btn {background: #ff6600;color: #fff;}

.btn-medium {padding: 5px 15px;font-size: 20px;}
.btn-small {padding: 2px 15px;font-size: 14px;}

.green_check {
  font-size: 18px;
  color: #6fb83f;
  img {
    width: auto; //full-width
    vertical-align: sub;
  }
}

.icon-editor,
.icon-msg {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-editor {background-image: url("../images/icon-editor.png")}
.icon-msg {background-image: url("../images/icon-msg.png")}

.form-group {
  margin-bottom: 30px;
}
.form-control {
  background: none;
}
.contact-comments textarea.form-control {
  height: auto;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: sub;
}

table {
  margin: 10px auto 50px;
  width: 100%;
  th,
  td {
    padding: 15px;
    width: 68%;
    border-bottom: 1px solid #d8ebcf;
  }
  th {
    width: 28%;
    background: #eef7ea;
  }
}

.blog-post {
  overflow: hidden;
  * {
    max-width: 100%;
  }
}

iframe {
  &,
  * {
    max-width: 100%;
  }
}

.path_area {
  @media screen and (max-width: 1199px){
    display: none
  }
  line-height: 1.2;
  font-size: 12px;
  li {
    display: inline-block;
    margin-right: 4px;
    color: #ff6600;
    font-weight: bold;
  }
  a {
    margin-right: 7px;
    color: #666;
    &:hover {
      color: #ff6600;
    }
  }
  img {
    margin-right: 5px;
    vertical-align: bottom;
  }
}

.right_btn_area {
  position: fixed;
  top: 120px;
  right: 0;
  z-index: 2;
  width: 50px;
  @media screen and (max-width: 991px) {
    display: none;
  }
  @media screen and (max-height: 375px) {
    display: none;
  }
  .btn {
    margin-bottom: 15px;
    padding: 15px 10px;
    line-height: 1.2;
    white-space: normal;
    [class^="icon-"] {
      width: 30px;
      height: 30px;
    }
  }
}

// header
.l-header {
  padding: 10px 0;
  border-top: 3px solid #ffea00;
  @media screen and (max-width: 991px) {
    padding: 0;
    height: 60px;
    // .showhide {
    //   display: block !important;
    // }
  }
  .logo-brand {
    img {
      @media screen and (min-width: 769px) and (max-width: 991px) {
        z-index: 1;
        max-width: 150px
      }
    }
  }
  .menuzord-menu {
    > li {
      > a {
        padding: 0 15px;
        // line-height: 150px;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        @media screen and (max-width: 991px) {
          margin-top: 50px;
          padding-left: 0;
          line-height: 0;
          font-size: 14px;
          font-weight: normal;
        }
        @media screen and (max-width: 768px) {
          margin-top: 0;
          line-height: 1.5;
        }
      }
      &:hover,
      &.active {
        > a {
          color: #ff6600;
        }
      }
    }
  }
}

// index
.index_area {
  h1 {
    border: 0;
  }
  // h2 {
  //   border-bottom: 1px solid #c9c9c9;
  //   letter-spacing: -1px;
  // }
  .full-banner {
    // background-position: top center;
    // background-size: 100% auto;
    // background-repeat: no-repeat;
    background-image: url("../../demo/index_bn01.jpg");
    .circle_outline {
      margin-left: -20%;
      width: 335px;
      height: 335px;
      background: rgba(255, 255, 255, .6);
      border-radius: 50%;
      @media screen and (max-width: 991px) {
        transform: translate(-50%, -60%);
        margin-left: 0;
      }
      @media screen and (max-width: 480px) {
        margin-left: 0;
        width: 200px;
        height: 200px;
      }
      @media screen and (min-height: 481px) and (max-height: 767px) {
        @media screen and (min-width: 768px) {
          left: 10%;
          transform: translate(0, -50%);
        }
      }
      @media screen and (max-height: 480px) {
        @media screen and (max-width: 991px) {
          // top: 80px;
          // transform: translate(-50%, 0);
          width: 250px;
          height: 250px;
          left: 5%;
          transform: translate(0, -40%);
        }
      }
      .circle_txt {
        &:before {
          content: "";
          display: block;
          margin: 0 auto;
          padding-left: 70%;
          padding-top: 60%;
          background: url("../images/index/banner_txt01.png") no-repeat center;
          background-size: contain;
        }
      }
    }
    .banner_btn {
      position: absolute;
      bottom: 50px;
      left: 50%;
      margin-left: -30%;
      img {
        max-width: 100%;
      }
      @media screen and (max-width: 991px) {
        transform: translate(-50%, 50%);
        margin-left: 0;
        width: 300px;
      }
      @media screen and (max-width: 480px) {
        transform: translate(-50%, 0);
        width: 200px;
      }
      @media screen and (min-height: 481px) and (max-height: 767px) {
        @media screen and (min-width: 768px) {
          right: 10%;
          bottom: 50%;
          transform: translate(0, 50%);
        }
      }
      @media screen and (max-height: 480px) {
        @media screen and (max-width: 991px) {
          // transform: translate(-50%, 0);
          max-width: 200px;
          left: 50%;
          bottom: 50%;
          transform: translate(10%, 70%);
          }
      }
    }
  }
  .block_about_area {
    padding-top: 50px;
    h2 {
      padding-bottom: 20px;
    //   letter-spacing: -1px;
    }
    ul.about_block {
      list-style: none;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 14px 12px;
      padding: 40px 0;
      li {
        // width: 50%;
        background: yellow;
        // .post-list-aside {
          .post-img {
            img {
              display: block;
              border: 0;
            }
          }
        // }
      }
    }
  }
  .block_case_area {
    background: url("../images/block_case_bg.png") repeat;
    h2 {
      margin-bottom: 0;
    }
    .seemore_area {
      display: block;
      margin: 30px 0 10px;
      .btn {
        margin-right: 0;
      }
      i {
        margin-right: -24px;
        vertical-align: middle;
        font-size: 24px;
        font-weight: bold;
        color: #e71f19;
      }
    }
    .portfolio.gutter .portfolio-item {
      margin-bottom: 15px;
      .thumb {
        padding: 10px;
        background: #EEF7EA;
      }
      // margin-right: 10px;
      // background: #EEF7EA;
      // &:nth-last-child(3),
      // &:nth-last-child(6) {
      //   margin-left: -10px;
      // }
      // &:nth-last-child(1),
      // &:nth-last-child(4) {
      //   margin-right: -10px;
      // }
      // @media screen and (max-width: 768px) {
        
      // }
    }
    .portfolio-description {
      height: 80px;
      -webkit-line-clamp: 3;
      p {
        line-height: 25px;
      }
    }
  }
  .block_news_area {
    .icon-five {
      border-top: 1px solid #d5d5d5;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 11px;
        background: url("../images/icon-five.png") no-repeat;
      }
    }
    
    .news_block {
      border: 1px solid #e5e5e5;
      @media screen and (max-width: 768px) {
        padding: 10px;
      }
    }
    .arrow_img_area {
      padding-left: 15px;
      padding-right: 14px;
      @media screen and (max-width: 991px) {
        margin: 0 15px 0 15px;
        padding: 0;
      }
      .arrow_img {
        img {
          border: 0;
        }
        &:before {
          content: "";
          position: absolute;
          top: 40%;
          right: 0;
          transform: translate(0, -50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 20px 20px 20px 0;
          border-color: transparent #ffffff transparent transparent;
        }
      }
    }
    .seemore_area{
      @media screen and (min-width: 992px) {
        padding: 0 15px;
        width: 52%;
      }
    }
    .postdate_area {
      @media screen and (min-width: 992px) {
        padding: 0;
        width: 48%;
      }
    }
    .arrow_txt {
      h3 {
        -webkit-line-clamp: 2;
      }
    }
    .post-date {
      font-size: 13px;
      color: #88c425;
    }
    .news_txt {
      height: 48px;
      line-height: 1.6;
      font-size: 14px;
      -webkit-line-clamp: 2;
    }
  }
  .block_form_area {
    background: #f6f9fc;
    .form_list {
      list-style: none;
      li {
        color: red;
      }
    }
  }
  .block_location_area {
    padding: 30px 0;
    .featured-item .desc {
      margin-left: 20px;
    }
  }
}

// about
.about_area {
  .post-list {
    .post-img {
      border: 1px solid #c9c9c9;
    }
    .post-desk {
      padding: 10px 0;
      height: 100px;
      p {
        line-height: 2;
        font-size: 13px;
      }
    }
  }
}

// difference
.difference_area {
  // h1 {
  //   width: 750px;
  //   max-width: 100%;
  // }
  table {
    margin: 10px auto 50px;
    width: 80%;
    th,
    td {
      padding: 15px 0;
      width: 38%;
      text-align: center;
      border: 1px solid #d8ebcf;
    }
    th {
      width: 18%;
      // background: #eef7ea;
    }
    @media screen and (max-width: 768px) {
      th:first-child {
        display: none;
      }
      thead th {
        // display: table-cell;
      }
      th,
      td {
        width: 48%;
      }
      td {
        position: relative;
        padding-top: 30px;
        &:before {
          display: block;
          content: attr(data-tit);
          position: absolute;
          top: 0;
          width: 100%;
          background: #eee;
          font-size: 12px;
          font-weight: bold;
        }

      }
    }
  }
}

// company
.company_area {
  table {
    @media screen and (max-width: 768px) {
      th,
      td {
        display: block;
        width: 100% !important;
        text-align: center !important;
      }
      .yeartit {
        display: block;
        background: #eee;
      }
    }
    &.corp_profile {
      line-height: 2;
      text-align: left;
      th {
        width: 14%;
      }
      td {
        width: 85%;
      }
      b {
        display: inline-block;
        margin-top: 15px;
        &:first-child {
          margin: 0;
        }
      }
      img {
        margin: 10px 0;
        width: auto;
      }
    }
    &.sub {
      margin: 0;
      td {
        padding-right: 0;
        padding-left: 0;
        width: auto;
        border: 0;
        vertical-align: top;
      }
      &.sub1 td {
        min-width: 120px;
      }
      &.sub2 td {
        min-width: 120px;
      }
      &.sub3 td {
        &:first-child {
          min-width: 150px;
        }
        &:nth-last-child(2) {
          text-align: right;
        }
      }
    }
  }
}

// news
.news_area {
  // h1 {
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 400px;
  // }
  .portfolio-with-title.blog-m .portfolio-title .date {
    font-size: 14px;
    font-weight: bold;
    color: #856e68;
  }
}

// case
.case_area {
  h1 {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
  .portfolio-filter li {
    @media screen and (max-width:768px) {
      margin: 1% 5%;
      width: 20%;
    }
    @media screen and (max-width:480px) {
      // margin: 1% 5%;
      width: 30%;
    }
    a {
      padding: 10px 15px;
      border: 1px solid #d3d3d3;
      font-size: 14px;
      color: #000;
      @media screen and (max-width:768px) {
        display: block;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }
      @media screen and (max-width:480px) {
        // display: block;
        // margin: 0;
        // padding-left: 0;
        // padding-right: 0;
        // width: 100%;
      }
    }
    &:hover,
    &.active {
      a {
        background: #6fb83f;
        border: 1px solid #6fb83f;
        color: #fff;
      }
    }
  }
  .portfolio.gutter .portfolio-item {
    .thumb {
      padding: 5px;
      background: #eef7ea;
    }
  }
  .portfolio-description p {
    padding: 10px;
    line-height: 1.8;
    font-size: 13px;
    color: #202020;
  }
}

// news content
.news_content_area {
  // h2 {
  //   margin-left: auto;
  //   margin-right: auto;
  //   padding: 10px;
  //   width: 200px;
  //   border: 1px dashed #d4d4d4;
  //   font-size: 18px;
  //   font-weight: bold;
  // }
  h1 {
    padding: 0;
    img {
      margin-right: 30px;
      transform: rotate(17deg);
    }
    .date {
      margin: 0 0 10px 100px;
      font-size: 15px;
      color: #c2c2c2;
    }
  }
  .right_area {
    img {
      max-width: 100%;
    }
    h2 {
      margin: 10px auto;
    }
  }
  .widget-latest-post {
    li {
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px dashed #d6ebc9;
    }
    img {
      margin: 5px 5px 0 0;
    }
    .w-desk a{
      font-size: 15px;
    }
    .date {
      margin: 0 0 0 25px;
      color: #000;
    }
  }
}

// case content
.case_content_area {
  // h3 {
  //   width: 240px;
  //   img {
  //     margin-right: 0;
  //   }
  // }
  h1 {
    border: 0;
    font-size: 24px;
  }
  .right_area {
    h2 {
      padding: 5px;
      width: 100%;
      color: #ff6600;
      // &:before {
      //   content: "";
      //   display: inline-block;
      //   margin-right: 3 px;
      //   width: 4px;
      //   border: 2px solid #ff6600;
      //   vertical-align: middle;
      // }
    }
  }
  .widget-latest-post {
    li {
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px dashed #d6ebc9;
    }
    img {
      margin: 5px 5px 0 0;
    }
    .w-desk a{
      font-size: 15px;
    }
    .date {
      margin: 0 0 0 25px;
      color: #000;
    }
  }
}

// service
.service_area {
  .featured-item.border-box {
    padding: 0;
    a {
      display: block;
      padding: 50px;
    }
  }
  .feature-box-grid {
    .odd_even_color {
      height: 290px;
      overflow: hidden;
      background: #f0f5f0;
      &:nth-child(odd) {
        background: #ffefe5;
      }
      .featured-item.border-box {
        &,
        &:hover {
          background: none;
          h4 {
            color: #000;
          }
        }
      }
    }
  }
}

// service content
.service_content_area {
  h2.dash_title_style {
    width: 320px;
    max-width: 100%;
  }
  // h2.orange_title_sqa.dash_title_style {
  //   width: 100%;
  // }
  h1.icon_line_double_tit {
    padding: 0 30px;
    width: auto;
    @media screen and (max-width: 480px) {
      padding: 0;
      width: 100%;
    }
  }
  .service_box {
    border: 1px dashed #90CC99;
    .service_tit_box {
      padding: 10px 0;
      border: 0;
      border-bottom: 1px dashed #90CC99;
      font-size: 20px;
    }
  }
  .service_tit_box {
    padding: 10px 0;
    border: 1px dashed #90CC99;
    font-size: 20px;
  }
  .gray b {
    margin-left: 20px;
    color: #000;
  }
}

// form
.form_area {
  h1 {}
}

// footer
#footer {
  @media screen and (min-width: 1200px) {
    .col-lg-1X {
      margin-right: -2%;
    }
    .col-lg-3X {
      margin-left: -2%;
      min-width: 18.666667%;
    }
  }
  @media screen and (max-width: 992px) {
    .row {
      margin: 0
    }
  }
  .primary-footer {
    background: #ff8533;
    border-bottom: 10px solid #fff45c;
    font-size: 12px;
    .footer-logo {
      padding: 50px 20px;
      background: #fff;
      img {
        max-width: 100%;
      }
    }
    h5 {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
    }
    .f-list {
      li {
        border: 0;
        a {
          line-height: 28px;
          color: #fff;
          &:before {
            display: none
          }
        }
      }
    }
  }
  .secondary-footer {display: none}
}

// page top
.lift-off {
  right: 5px;
  bottom: 330px;
  // background: #ff8433;
  background: rgba(230, 112, 51, .8);
  @media screen and (min-height: 840px) {
    right: 5px;
    bottom: 330px;
  }
  @media screen and (max-width: 480px) {
    right: 25px;
    bottom: 15px;
    background: rgba(230, 112, 51, .8);
  }
}

// pagination
.custom-pagination {
  @media screen and (max-width: 480px) {
    display: flex;
    justify-content: space-between;
    li {
      display: none;
      &:first-child,
      &:last-child {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
}

// title h1 / h3
.icon_line_double_tit {
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  width: auto;
  max-width: 100%;
  border-bottom: 1px solid #c9c9c9;
  font-size: 36px;
  @media screen and (max-width: 480px) {
    padding: 0;
    width: 100%;
    word-break: break-all;
  }
  h1,
  h3 {
    margin: 0;
    font-size: 36px;
  }
  // img {
  //   margin-right: 0;
  // }
}

// title h2
.dash_index {
  border-bottom: 1px solid #c9c9c9;
  letter-spacing: -1px;
}

.dash_title_style {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 200px;
  border: 1px dashed #d4d4d4;
  font-size: 18px;
  font-weight: bold;
  // @media screen and (max-width:480px) {
  //   margin-top: 50px; //sticky menu
  // }
}

.orange_title_sqa {
  padding: 5px;
  width: 100%;
  color: #ff6600;
  &:before {
    content: "";
    display: inline-block;
    // margin-right: 3 px;
    width: 4px;
    border: 2px solid #ff6600;
    vertical-align: middle;
  }
}

$border_width: 3px;
.green_title_frame {
  display: inline-block;
  position: relative;
  padding: 10px 100px;
  border: $border_width solid #6fb83f;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  @media screen and (max-width: 768px) {
    padding: 10px;
    width: 100%;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -$border_width;
    left: -13px;
    width: 17px;
    height: 18px;
    background: #6fb83f;
  }
  &:after {
    left: auto;
    right: -13px;
  }
}

.number_title {
  // &:before {
  //   content: attr(data-number);
    font-size: 20px;
    font-weight: bold;
    color: #6fb83f;
  // }
}
